@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:wght@400&display=swap');


$text-font-family: 'Roboto', sans-serif;



$primary-color: white;
$secondary-color: #f2f2f2;
$text-color-primary: #ed169b;
$text-color-secondary: #e40175;
$text-color-gray:#a3adb5;
$text-black: black;
$text-white: white;

body,
html,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
    padding: 0;
    margin: 0;
}


.body
{
    padding:0;
    margin:0;
    box-sizing:border-box;
    height: 100%;
    width: 100%;
    outline: 0;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.header-section{
    height:6rem;
}
.nav-link{
    text-decoration:none;
    font-weight:600;
    font-size:1.4rem;
    color:$text-black;
}
.nav-link:hover{
    color:$text-color-primary;
}
.hamburger{
    cursor: pointer;
    display: none;
}

.bar{
    display: block;
    width:25px;
    height:3px;
    margin:5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    background: black;
}
.btn-1{
    line-height:1.32px;
    padding: 25px 50px;
    font-weight: 500;
    font-size:28px;
    border-radius: 8px;
    border-style:solid;
    background: $text-color-primary;
    color:$primary-color;
    border:none;
    text-align: center;
}
.btn-1:hover{
    background-color: $primary-color;
    color:#ed169b;
    border:3px solid $text-color-primary
}
.btn-2{
    line-height:1.32px;
    padding: 25px 50px;
    font-weight: 500;
    font-size:28px;
    border-radius: 8px;
    border-style:solid;
    background: $primary-color;
    color:$text-color-primary;
    border:none;
    text-align: center;
}
.btn-2:hover{
    text-decoration:unset;
    color:$primary-color;
    background-color: $text-color-primary;
    border:3px solid $primary-color;
}
.main-container{
    height:75vh;
    background-image:url('/Pictures/cover-about-us-scaled.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
}
.about-title{
    color:black;

}
.about-title::after{
    background: #FF009F;
    background: linear-gradient(90deg, #E40175 0%, #FF009F 100%);
    bottom: 420px;
    display: block;
    position: absolute;
    content: "";
    height: 4px;
    border-radius: 2px;
    width: 180px;
    left: calc(50% - 90px);
}
.info-section{
    height:100vh;
}
.info-title::after{
    background: #FF009F;
    background: linear-gradient(90deg, #E40175 0%, #FF009F 100%);
    bottom: -4px;
    left: calc(50% - 90px);
}
.info-title::after{
    display: block;
    position: absolute;
    content: "";
    height: 4px;
    border-radius: 2px;
    width: 180px;
}
.info-text{
    font-size:1.7rem;
    font-weight:300;
    padding-top:3rem;
}
.info-text-italic{
    font-style: italic;
    font-size:2.3rem;
    font-weight:350;
    color:$text-color-gray;
}
.story-section{
    height:100%;
    padding-top:6rem;
    padding-bottom:2rem;
}
.story-title::after{
    background-color: $text-color-primary;
    background:linear-gradient(90deg, #E40175 0%, #FF009F 100%);
    bottom:-4px;
    left:calc(50% - 90px);
}
.story-title::after{
    display:block;
    position:absolute;
    content:"";
    height:4px;
    border-radius:2px;
    width:180px;
}
.story-text{
    font-size:1.7rem;
    font-weight:350;
}
.story-events{
    height:100%;
    padding-top:3rem;
}
.inner-container-events:before{
    background-color: $text-color-primary;
    top:-10px;
}
.inner-container-events:before{
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 12px);
    z-index: 9;
}
.line-center::before{
  background-color: $text-color-secondary;
}
 
.line-center:before {
    content: '';
    position: absolute;
    display: block;
    width: 4px;
    left: 50%;
    top: 0;
    bottom: 0;
    margin-left: -4px;
}
.line-center:after{
    bottom: 0px;
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 12px);
    z-index: 9;
    background-color: $text-color-primary;
}
.year-box{
    margin-top: 0!important;
}
.year-box {
    position: relative;
    float: left;
    clear: left;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 50px;
    top: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    text-align: center;
}
.year-box:before{
    display:table;
    content:"";
}
.year-box:after{
    clear:both;
    content:"";
    display:table;
}
.year-text{
    border-radius: 15px;
    border:4px solid white;
    color:white;
    background-color: $text-color-primary;
    display: inline-block;
    line-height: 1;
    padding: 7px 14px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 700;
}
.right-article{
    margin-bottom: 20px!important;
    position: relative;
    width: 50%;
    float: right;
    clear: both;
}
.right-article:before{
    display:table;
    content:" ";
}
.right-article-inner{
    position:relative;
    margin-left: -18px!important;
}
.right-article-inner:before{
    content:" ";
    display:table;
}
.dot{
    width: 30px;
    height: 30px;
    color: #FFFFFF;
    background-color: $text-color-primary;
    border-color: #ffffff;
    background-clip: padding-box;
    border-radius: 50%;
    text-align: center;
    line-height: 0;
    font-size: 0;
    float: left;
    padding: 0;
    display: block;
}
.beginning-box{
    border-left: none;
    padding: 0px;
    background: white;
    position: relative;
    box-shadow: 0 2px 8px -2px rgba(0,0,0,.3);
    border-radius: 12px!important;
    display: flow-root;
    margin-left: 70px;
}
.article-title{
    color:white;
    padding: 0px 8px 5px 8px;
    background: $text-color-primary;
    margin-bottom: 10px;
    font-weight: 700;
    display: inline-block;
    width: 100%;
    border-radius: 15px 15px 0px 0px!important;
    margin:0px;
    font-size:1.4rem;
}
.article-text{
    padding: 0px 8px 5px 8px;
    font-size: 16px;
    font-weight: 400;
    color: #333;
}
.article-p{
    padding: 0px 8px 5px 8px;
    margin:0;
}
.beginning-box:after{
    border-right-color: $text-color-primary;
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 9px 9px 0;
    border-color: transparent $text-color-primary transparent transparent;
    left: 0;
    top: 14px;
    margin-left: -9px;;
}
.right-article-inner:after{
    clear: both;
    content: " ";
    display: table;
}
.right-article:after{
    clear:both;
    display: table;
    content:" ";
}
.left-article{
    margin-bottom: 20px!important;
    position: relative;
    width: 50%;
    float: left;
    clear: both;
}
.left-aticle:before{
    display:table;
    content:"";
}
.left-article-inner{
    margin-right: -15px!important;
    position: relative;
    margin-left: -16px!important;
}
.left-article-inner:before{
    display:table;
    content:"";
}
.dot-2{
    width: 30px;
    height: 30px;
    color: #FFFFFF;
    background-color: $text-color-primary;
    border-color: #ffffff;
    float: right;
    background-clip: padding-box;
    border-radius: 50%;
    text-align: center;
    line-height: 0;
    font-size: 0;
    padding: 0;
    display:block;
}

.casinos-box{
    margin-left: 0;
    margin-right: 70px;
    padding:0px;
    background: white;
    box-shadow: 0 2px 8px -2px rgba(0,0,0,.3);
    position: relative;
    background-clip: padding-box;
    border-radius: 12px!important;
    display: flow-root;
}

.casinos-box:after{
    display:table;
    content:"";
    clear:both;
    border-right-color: $text-color-primary;
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 9px 9px 0;
    border-color: transparent $text-color-primary transparent transparent;
    right: 0;
    top: 14px;
    margin-right: -9px;
    rotate: 180deg;
}
.left-article:after{
    display: table;
    content:"";
    clear:both;
}
.final-title{
    font-size:2.2rem;
    font-weight:700;
}
.img-pop{
    width:3rem;
    height:3rem;
    margin-bottom: 1rem;
}
.value-section{
    height:100%;
    background-color: $secondary-color;
}
.value-row{
    padding-top:6rem;
}
.value-title{
    font-size:3.4rem;
    font-weight: 700;
    padding-bottom: 3px;
}
.value-title::after{
    background: #FF009F;
    background: linear-gradient(90deg, #E40175 0%, #FF009F 100%);
    bottom: -6px;
    left: calc(50% - 90px);
    display: block;
    position: absolute;
    content: "";
    height: 4px;
    border-radius: 2px;
    width: 180px;
}
.value-text{
    font-size:1.6rem;
    font-weight:300;
}

.wrapper{
    width: 80%;
    height:100%;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    padding-top:2rem;
}
.image{
    width:400px;
    height:260px;
    position:relative;
    box-shadow:0px 6px 10px rgba(0,0,0,0.2);
    border-radius:15px;
}
.value-img{
    width:70%;
    display:block;
    margin:auto;

}
.content{
    width:100%;
    height:100%;
    top:0;
    left:0;
    position:absolute;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition:0.6s;
    padding-left:1rem;
    padding-right:1rem;
}
.content:hover{
    opacity: 1;
    background-color: $text-color-primary;
    border-radius: 15px;
}
.p-text{
    color:white;
    font-weight:400;
    font-size:1.2rem;
}
.value-label{
    font-size:2.4rem;
    font-weight:700;
}
.image-row-2{
    width:610px;
    height:260px;
    position:relative;
    box-shadow:0px 6px 10px rgba(0,0,0,0.2);
    border-radius:15px;
}
.wrapper:nth-child(4){
    padding-bottom: 8rem;
}
.map-section{
    height:100%;
}
.map-row{
    padding-top:6rem;
}
.map-row-img{
    padding-bottom: 6rem;
}
.map-title::after{
    background: #FF009F;
    background: linear-gradient(90deg, #E40175 0%, #FF009F 100%);
    bottom: -6px;
    left: calc(50% - 90px);
    display: block;
    position: absolute;
    content: "";
    height: 4px;
    border-radius: 2px;
    width: 180px;

}
.opportunities-section{
    height:85vh;
    background-color: $secondary-color;
}
.opportunities-title{
    font-size:3.2rem;
}
.opportunities-title::after{
    background: #FF009F;
    background: linear-gradient(90deg, #E40175 0%, #FF009F 100%);
    bottom: -4px;
    left: calc(50% - 90px);
}
.opportunities-title::after{
    display: block;
    position: absolute;
    content: "";
    height: 4px;
    border-radius: 2px;
    width: 180px;
}
.opportunities-h3{
    font-size:2.4rem;
}
.opportunities-p{
    font-size:1.8rem;
    font-weight:300;
}
.section-container {
    background-color: $text-color-primary;
    height:30vh;
}

.section-title{
    font-weight:300;
    font-size:2.4rem;
}
.a-btn{
    line-height:1.32px;
    padding: 25px 50px;
    font-weight: 500;
    font-size:28px;
    border-radius: 8px;
    border-style:solid;
    background: $primary-color;
    color:$text-color-primary;
    border:none;
    text-align: center;
}
.a-btn:hover{
    text-decoration:unset;
    color:$primary-color;
    background-color: $text-color-primary;
    border:3px solid $primary-color;
}
.footer-section{
    height:100%;
    background-image:url('/Pictures/footer.png');
    background-color: #111;
    background-position: center;
    background-repeat: repeat;
    background-size:auto;
}   
.footer-links{
    list-style-type: none;
}
.footer-a{
    color:white;
    font-size:1.2rem;
}
.footer-a:hover{
    color:$text-color-primary;
    text-decoration: none;
}
.footer-icon{
    color:white;
    font-size:2rem;
}
.footer-icon:hover{
    color:$text-color-primary;
}
.social{
    padding-left:2rem;
}

.footer-line{
    height:1px;
    background-color:$text-color-secondary;
    width:60rem;
}

@media(max-width:768px){
    .hamburger
    {
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform:translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform:translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position:fixed;
        left:-100%;
        top:70px;
        gap:0;
        flex-direction: column;
        background: $text-color-primary;
        width:100%;
        text-align: center;
        transition:0.3s;
        z-index:100;
    }
    .nav-link{
        color:$primary-color;
    }
    .nav-item{
        margin:16px 0;
    }
    .nav-menu.active{
        left:-225px;
    }
    .logo-img{
        width:80% !important;
        margin-right:20px;
    }
    
    .main-container{
        height:60vh;
        background-image:url('/Pictures/cover-our-brands-scaled.jpg');
        background-size:contain;
        background-repeat: no-repeat;
        width: 100%;
    }
    .brands-title{
        color:$text-black !important;
        font-size:1.8rem !important;
        margin-left:1.8rem;
    }
    .about-title{
        font-size:2rem !important;
        margin-left:1.2rem; 
    }
    .info-title{
        font-size:2rem !important;
        text-align: center;
    }
    .info-text{
        font-size:1.2rem;
        text-align: center;
    }
    .info-text-italic{
        font-size:1.2rem;
    }
    .story-title{
        font-size:2rem !important;
        padding-top:8rem;
    }
    .story-text{
        font-size:1.2rem;
    }
    .final-title{
        font-size:1.6rem;
        text-align: center;
    }
    .wrapper{
        width: 100%;
        height:100%;
        display: flex;
        justify-content: center;
        align-items:center;
        flex-direction: column;
    }
    .image{
        width:280px;
        height:300px;
        position:relative;
        box-shadow:2px 2px 12px rgba(0,0,0,0.6);
        border-radius:15px;
        margin-top:2rem;
    }
    .image-row-2{
        width:280px;
        height:300px;
        position:relative;
        box-shadow:2px 2px 12px rgba(0,0,0,0.6);
        border-radius:15px;
        margin-top:2rem;
    }
    .map-title{
        font-size:2rem !important;
    }
    .opportunities-title{
        font-size:2rem;
    }
    .opportunities-h3{
        font-size:1.8rem;
    }
    .opportunities-p{
        font-size:1.2rem;
    }
    .section-title{
        font-size:1.4rem;
        text-align: center;
    }
    .footer-links{
        flex-direction:column !important;
        line-height:2.4rem;
    }
   
    .logo-footer{
        padding-top:5rem;
    }
    .socials-box{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width:100%;
        
    }
    .value-title{
        font-size:2rem !important;
    }
    .value-text{
        font-size:1.2rem;
    }
}