@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:wght@400&display=swap');


$text-font-family: 'Roboto', sans-serif;



$primary-color: white;
$secondary-color: #f2f2f2;
$text-color-primary: #ed169b;
$text-color-secondary: #e40175;
$text-color-gray:#a3adb5;
$text-black: black;
$text-white: white;

body,
html,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
    padding: 0;
    margin: 0;
}


.body
{
    padding:0;
    margin:0;
    box-sizing:border-box;
    height: 100%;
    width: 100%;
    outline: 0;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.header-section{
    height:6rem;
}
.nav-link{
    text-decoration:none;
    font-weight:600;
    font-size:1.4rem;
    color:$text-black;
}
.nav-link:hover{
    color:$text-color-primary;
}
.hamburger{
    cursor: pointer;
    display: none;
}

.bar{
    display: block;
    width:25px;
    height:3px;
    margin:5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    background: black;
}
.btn-1{
    line-height:1.32px;
    padding: 25px 50px;
    font-weight: 500;
    font-size:28px;
    border-radius: 8px;
    border-style:solid;
    background: $text-color-primary;
    color:$primary-color;
    border:none;
    text-align: center;
}
.btn-1:hover{
    background-color: $primary-color;
    color:#ed169b;
    border:3px solid $text-color-primary
}
.main-container{
    height:75vh;
    background-image:url('/Pictures/cover-our-brands-scaled.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
}
.affiliates-title{
    color:white;
}
.affiliates-title::after{
    background: #FF009F;
    background: linear-gradient(90deg, #E40175 0%, #FF009F 100%);
    bottom: 390px;
    display: block;
    position: absolute;
    content: "";
    height: 4px;
    border-radius: 2px;
    width: 180px;
    left: calc(50% - 90px);
}
.line-brand-title{
    height:4px; 
    background-color: $primary-color;
    width:14rem;
}
.why-us-section{
    height:50vh;
}
.why-us-title::after{
    display: block;
    content: "";
    position: absolute;
    bottom: -6px;
    background: #FF009F;
    background: linear-gradient(90deg, #E40175 0%, #FF009F 100%);
    left: calc(50% - 90px);
    height: 4px;
    border-radius: 2px;
    width: 180px;
}
.why-us-p{
    font-size:1.8rem;
    font-weight:300;
}
.why-us-btn{
    padding-bottom: 6rem;
}
.how-it-works-section{
    height:100%;
    width:100%;
    background: $secondary-color;
}
 .how-it-works-row{
    padding-bottom: 7rem;
    padding-top:8rem;
}
.btn-2{
    line-height:1.32px;
    padding: 22px 28px;
    font-weight: 500;
    font-size:28px;
    border-radius: 8px;
    border-style:solid;
    background: $primary-color;
    color:$text-color-primary;
    border:3px solid $text-color-primary;
    text-align: center;
}
.btn-2:hover{
    text-decoration:unset;
    color:$primary-color;
    background-color: $text-color-primary;
    border:3px solid $primary-color;
}
.works-title::after{
    display: block;
    content: "";
    position: absolute;
    bottom: -6px;
    background: #FF009F;
    background: linear-gradient(90deg, #E40175 0%, #FF009F 100%);
    left: calc(50% - 90px);
    height: 4px;
    border-radius: 2px;
    width: 180px;
}
.works-info{
    font-size:1.8rem;
    font-weight:300;
    line-height:2.4rem;
}
.commission-section{
    height:100%;
    padding-top:6rem;
}
.commission-title::after{
    display: block;
    content:"";
    position: absolute;
    bottom:-6px;
    background: #FF009F;
    background: linear-gradient(90deg, #E40175 0%, #FF009F 100%);
    left: calc(50% - 90px);
    height: 4px;
    border-radius: 2px;
    width: 180px;
}
.col-btns{
    padding-bottom: 5rem;
}
.commission-info{
    font-size:1.8rem;
    font-weight: 300;
}
.stats-container{
    padding-top:4rem;
}
.stats-span{
    font-size:1.4rem;
}
.percent-stats{
    font-size:3.8rem;
    color:$text-color-primary;
    padding-top:0.6rem;
}
.carousel-inner{
    background: white;
}
.partners-section{
    background: $secondary-color;
    padding-bottom: 6rem;
}
.row-partners{
    padding-top:6rem;
}
.partners-title{
    padding-top:2rem;
    font-size:3.4rem;
    
}
.partners-title::after{
    display: block;
    content: "";
    position: absolute;
    bottom: -2px;
    background: #FF009F;
    background: linear-gradient(90deg, #E40175 0%, #FF009F 100%);
    left: calc(50% - 90px);
    height: 4px;
    border-radius: 2px;
    width: 180px;
}
.partners-info{
    font-size:1.8rem;
    font-weight: 300; 
}
#slide-1,#slide-2,#slide-3,#slide-4,#slide-5,#slide-6,#slide-7,#slide-8{
    height:5px;
    width:2rem;
}
#slide-1.active{
    background-color: $text-color-primary !important;
}
#slide-2.active{
    background-color: $text-color-primary !important;
}
#slide-3.active{
    background-color: $text-color-primary !important;
}
#slide-4.active{
    background-color: $text-color-primary !important;
}
#slide-5.active{
    background-color: $text-color-primary !important;
}
#slide-6.active{
    background-color: $text-color-primary !important;
}
#slide-7.active{
    background-color: $text-color-primary !important;
}
#slide-8.active{
    background-color: $text-color-primary !important;
}

.carousel-inner{
    width:60rem !important;
}
.carousel-info{
    padding-bottom:5rem;
}
.carousel-control-prev-icon{
    background:$text-color-primary !important;
    height:4rem !important;
    width:4rem !important;
    border-radius: 50%;
}
.fa-arrow-left{
    color:white !important;
    font-size:2rem;
    cursor: pointer;
}
.fa-arrow-right{
    color:white !important;
    font-size:2rem;
    cursor: pointer;
}
.section-container {
    background-color: $text-color-primary;
    height:30vh;
}

.section-title{
    font-weight:300;
    font-size:2.4rem;
}
.a-btn{
    line-height:1.32px;
    padding: 25px 50px;
    font-weight: 500;
    font-size:28px;
    border-radius: 8px;
    border-style:solid;
    background: $primary-color;
    color:$text-color-primary;
    border:none;
    text-align: center;
}
.a-btn:hover{
    text-decoration:unset;
    color:$primary-color;
    background-color: $text-color-primary;
    border:3px solid $primary-color;
}
.footer-section{
    height:100%;
    background-image:url('/Pictures/footer.png');
    background-color: #111;
    background-position: center;
    background-repeat: repeat;
    background-size:auto;
}   
.footer-links{
    list-style-type: none;
}
.footer-a{
    color:white;
    font-size:1.2rem;
}
.footer-a:hover{
    color:$text-color-primary;
    text-decoration: none;
}
.footer-icon{
    color:white;
    font-size:2rem;
}
.footer-icon:hover{
    color:$text-color-primary;
}
.social{
    padding-left:2rem;
}

.footer-line{
    height:1px;
    background-color:$text-color-secondary;
    width:60rem;
}


@media(max-width:768px){
    .hamburger
    {
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform:translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform:translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position:fixed;
        left:-100%;
        top:70px;
        gap:0;
        flex-direction: column;
        background: $text-color-primary;
        width:100%;
        text-align: center;
        transition:0.3s;
        z-index:100;
    }
    .nav-link{
        color:$primary-color;
    }
    .nav-item{
        margin:16px 0;
    }
    .nav-menu.active{
        left:-160px;
    }
    .logo-img{
        width:80% !important;
        margin-right:20px;
    }
    .why-us-title{
        font-size:2rem !important;
    }
    .why-us-p{
        font-size:1.2rem !important;
    }
    .affiliates-title{
        color:black;
        font-size:2rem !important;
        margin-left:2rem;
    }
    .works-title{
        font-size:2rem !important;
        padding-top:3rem;
    }
    .works-info{
        font-size:1.2rem !important;
        line-height: 1.6rem;
    }
    .col-btns{
        flex-direction: column;
    }
    .col-btns .btn-1{
        margin-top:1rem;
        padding: 25px 57px;
        margin-right:1rem;
    }
    .commission-title{
        font-size:2rem !important;
    }
    .commission-info{
        font-size:1.2rem;
    }
    .stats-container{
        flex-direction: column;
    }
    .col-arrow{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .arrow-img{
        rotate:90deg;
    }  
    .partners-title{
        font-size:1.4rem !important;
    }
    .partners-info{
        font-size:1.2rem !important;
    }
    .section-title
    {
        font-size:1.4rem;
        text-align: center;
    }
    .footer-links{
        flex-direction:column !important;
        line-height:2.4rem;
    }
   
    .logo-footer{
        padding-top:5rem;
    }
    .socials-box{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width:100%;
        
    }
    .value-title{
        font-size:2rem !important;
    }
    .value-text{
        font-size:1.2rem;
    }
}